server:
  port: 8081
spring:
  datasource:
    #url: jdbc:hsqldb:hsql:/localhost:9001/db
    #driverClassName: org.hsqldb.jdbcDriver
    username: root
    password: pass

    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver

  jpa:
    show-sql: true
    open-in-view: false
    database-platform: org.hibernate.dialect.H2Dialect
    defer-datasource-initialization: true
  h2:
    console.enabled: true

application:
  translation:
    properties:
      baseName: messages
      defaultLocale: tr

jobs:
  allowanceCalculation: 0 0 1 * * *
